.submit-btn{
    background-color: #000 !important;
    color: #fff !important;
}

.submit-btn:hover{
    color: #000 !important;
    background-color: #ebebeb !important;
}

.cancel-btn:hover{
  background-color: #ebebeb !important;
}