@import url('./styles/Colors.css');

.submit-btn {
  background-color: var(--primary-foreground-color) !important;
  color: #fff !important;
}

.submit-btn:hover {
  color: var(--primary-foreground-color) !important;
  background-color: #ebebeb !important;
}

.cancel-btn:hover {
  background-color: #ebebeb !important;
}