@import url('./styles/Colors.css');

.submit-btn {
  background-color: var(--primary-foreground-color) !important;
  color: var(--primary-background-color) !important;
}

.submit-btn:hover {
  color: var(--primary-foreground-color) !important;
  background-color: var(--secondary-background-color) !important;
}

.cancel-btn:hover {
  background-color: var(--secondary-background-color) !important;
}