.nav-link{
    color: #000;
}

.nav-link:hover{
    color: #757575 !important;
    text-decoration: none !important;
}

.sign-up-btn{
    background-color: #000 !important;
    color: #fff !important;
}

.sign-up-btn:hover{
    color: #000 !important;
    background-color: #ebebeb !important;
}