@import url('../styles/Colors.css');

.nav-link {
    color: var(--primary-foreground-color);
}

.nav-link:hover {
    color: var(--secondary-foreground-color) !important;
    text-decoration: none !important;
}

.sign-up-btn {
    background-color: var(--primary-foreground-color) !important;
    color: var(--primary-background-color) !important;
}

.sign-up-btn:hover {
    color: var(--primary-foreground-color) !important;
    background-color: var(--secondary-background-color) !important;
}